{% extends 'main/dashboard.html' %}
{% block title %}Waste Calculator{% endblock %}
{% block history %}menu-active{% endblock %}

{% block content %}
<style>
    .content-wrapper {
        padding : 2em;
    }
    
    .top-div {
        margin-bottom: 1em;
        background-color: var(--my-grey);
        border-radius: 10px;
        padding: .8em 2em;
        margin-bottom: 2em;
    }
    
    .title-active {
        font-size: 1.8em;
        font-weight: 700;
    }
    
    .title-active svg {
        vertical-align: sub;
        color: var(--my-green);
        margin-right: .25em;
    }

    #month-input {
        max-width: 15em !important;
    }

    .form-control {
        background-color: #E5E5E5;
        font-size: 1.5em;
        height: 2em;
    }
    
    .form-control:focus {
        border-color: var(--my-green) !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(39, 196, 153, 0.6);
    }

    div.input-group {
        margin-bottom: 1.5em !important;
    }
    
    label {
        font-weight: bold;
        font-size: 1.2em;
    }

    .btn-history {
        color: white;
        background-color: var(--my-green);
        font-weight: bold;
    }
    
    #calendar {
        display: flex;
        flex-wrap: wrap;
    }

    .date {
        cursor: pointer;
        height:5em;
        width: 13%;
        border: 3px solid rgb(255, 255, 255);
        margin: 5px;
        position: relative;
        border-radius: 10px;
    }

    .date:hover {
        transform: scale(1.15);
        transition: .2s;
    }

    .date-number {
        font-size: 1.5em;
        padding: .5em;
        color: white;
    }

    .weight-number {
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    #weight {
        font-weight: bold;
        text-align: center;
        line-height: 1em;
        font-size: 4em;
        color: var(--my-green);
    }

    .input-group-append span, .input-group-prepend span {
        font-size: 1.5em;
        font-weight: bold;
    }

    .form-control {
        background-color: #E5E5E5;
    }
</style>

<div class="content-wrapper">
    <div class="top-div">
        <span class="title-active">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-calendar-week-fill" viewBox="0 0 16 16">
                <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
              </svg>
            Waste History</span>
        </div>

        <div class="container">
            <label for="month-input">Bulan dan Tahun</label>
            <form method="POST">
                <div class="input-group ">
                        {% csrf_token %}
                        <input id="month-input" type="month" name="waste_date" class="form-control" value="{{ year }}-{{ mon }}"> 
                        <button type="submit" class="btn ml-2 px-3 btn-history">Lihat</button>
                </div>
            </form>
            
            <div id="calendar">
            {% for waste in datas %}
                <div onclick="editWaste(this);" data-toggle="modal" data-target="#add-waste-modal"
                data-day="{{ forloop.counter }}" data-waste="{{ waste }}" class="date shadow" style="background-color :
                    {% if waste <= 1 %}
                    #42D5AA;
                    {% elif waste <= 2 %}
                    #FBB600;
                    {% else %}
                    #F76063;
                    {% endif %}
                ;">
                    <span class="date-number">{{ forloop.counter }}</span>
                    <span class="weight-number">{{ waste }}kg</span>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

      <!-- Modal -->
  <div class="modal fade" id="add-waste-modal" tabindex="-1" role="dialog" aria-labelledby="add-waste-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">+ Add Waste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label for="waste-date">Date</label>
            <input class="form-control" id="waste-date" type="date" readonly>
            <label class="mt-3" for="weight">Total waste</label>
            <div class="input-group mb-3">
                <input id="weight" type="number" class="form-control" value="0">
                <div class="input-group-append">
                    <span class="input-group-text">KG</span>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-green font-weight-bold" onclick="uploadData(this)">Save</button>
        </div>
      </div>
    </div>
  </div>

    <form id="form" action="{% url 'edit-waste' %}" method = 'POST' style="display: none;">
        {% csrf_token %}
        <input id="input-weight" type="hidden" name="weight">
        <input id="input-day" type="hidden" name="day">
        <input id="input-month" type="hidden" name="month">
        <input id="input-year" type="hidden" name="year">
    </form>


    <script>
        let monthInput = document.getElementById('month-input');
        let calendar = document.getElementById('calendar');
        let today = new Date()

        let inputYear = document.getElementById('input-year'); 
        let inputMonth = document.getElementById('input-month'); 
        let inputDay = document.getElementById('input-day'); 
        let inputWasteDate = document.getElementById('waste-date'); 

        if (monthInput.value == "") {
            m = today.getMonth() + 1;
            m = m < 10 ? '0'+ m : m + '';
            date = today.getFullYear() + '-' + m;
            monthInput.value = date;
        }

        const inputWeight = document.getElementById('weight');
        function editWaste(date) {
            inputWeight.value = date.dataset.waste;
            let d = parseInt(date.dataset.day);
            d = d < 10 ? '0'+ d : d + '';
            let m = monthInput.value.split('-')[1];
            let y = monthInput.value.split('-')[0];

            inputWasteDate.value = `${y}-${m}-${d}`;

            inputYear.value = parseInt(y);
            inputMonth.value = parseInt(m);
            inputDay.value = parseInt(d);
        }

        function uploadData(btn) {
            let weightInputForm = document.getElementById('input-weight');
            console.log(parseFloat(inputWeight.value));
            weightInputForm.value = parseFloat(inputWeight.value);
            document.getElementById('form').submit();
        }
    </script>
    {% endblock %}