{% extends 'main/dashboard.html' %}
{% block title %}Dashboard{% endblock %}
{% block dashboard %}menu-active{% endblock %}

{% block content %}
<style>
    .content-wrapper {
        padding : 2em;
    }

    .top-div {
        margin-bottom: 1em;
        background-color: var(--my-grey);
        border-radius: 10px;
        padding: .8em 2em;
    }

    .title-active {
        font-size: 1.8em;
        font-weight: 700;
    }

    .title-active svg {
        vertical-align: sub;
        color: var(--my-green);
        margin-right: .25em;
    }

    .btn-add {
        float: right;
        margin-top: 3px;
        padding: .5em 1em;
        border-radius: 10px;
        font-weight: bold;
    }

    .statistic {
        background-color: #f2f2f2;
        padding: 1em 2em 2em 2em;
        border-radius: 10px;
    }

    .total {
        display: block;
        font-size: 3.5em;
        line-height: 1em;
        color: var(--my-green);
        font-weight: 400;
    }

    .stat-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .diff {
        font-weight: 600;
    }

    .modal-header, .modal-footer {
        border: none !important;
    }

    .modal-header h5{
        font-size: 1.5em;
    }

    .modal-body {
        padding: 1em 2.5em 0 2.5em;
    }

    label {
        font-weight: bold;
        font-size: 1em;
        margin-bottom: 0;
    }

    .form-control:focus {
        border-color: var(--my-green) !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(39, 196, 153, 0.6);
    }

    .form-control {
        background-color: #E5E5E5;
    }

    .input-group-append span, .input-group-prepend span {
        font-size: 1.5em;
        font-weight: bold;
    }

    #weight {
        font-weight: bold;
        text-align: center;
        line-height: 1em;
        font-size: 4em;
        color: var(--my-green);
    }
</style>

<div class="content-wrapper">
    <div class="top-div">
        <span class="title-active">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-grid-1x2-fill" viewBox="0 0 16 16">
                <path d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z"/>
            </svg>
            Dashboard</span>
            <button class="btn btn-green btn-add" data-toggle="modal" data-target="#add-waste-modal">+ Add Waste</button>
    </div>

    <div class="statistic">
        <p class="h5 font-weight-bold">This Month</p>
        <div class="container">
            <div class="stat-wrapper">
                <div class="">
                    <span class="text-muted">Wasted Foods</span>
                    <span class="total mb-1">5.6kg</span>
                    <small class="diff">1.3kg by last month</small>
                </div>
                <div class="">
                    <span class="text-muted">Estimate Wasted Money</span>
                    <span class="total mb-1">IDR250k</span>
                    <small class="diff">IDR25k by last month</small>
                </div>
                <div class="">
                    <span class="text-muted">Estimate Carbon Emition</span>
                    <span class="total mb-1">0.12g</span>
                    <small class="diff">0.03g by last month</small>
                </div>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="add-waste-modal" tabindex="-1" role="dialog" aria-labelledby="add-waste-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">+ Add Waste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label for="waste-date">Date</label>
            <input class="form-control" id="waste-date" type="date">
            <label class="mt-3" for="weight">Total waste</label>
            <div class="input-group mb-3">
                <input id="weight" type="number" class="form-control" value="0">
                <div class="input-group-append">
                    <span class="input-group-text">KG</span>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-green font-weight-bold" onclick="uploadData(this)">Add</button>
        </div>
      </div>
    </div>
  </div>

    <form id="form" action="{% url 'upload-waste' %}" method = 'POST' style="display: none;">
        {% csrf_token %}
        <input id="input-weight" type="hidden" name="weight">
        <input id="input-day" type="hidden" name="day">
        <input id="input-month" type="hidden" name="month">
        <input id="input-year" type="hidden" name="year">
    </form>

</div>

<script>
    let inputYear = document.getElementById('input-year'); 
    let inputMonth = document.getElementById('input-month'); 
    let inputDay = document.getElementById('input-day'); 
    let inputWasteDate = document.getElementById('waste-date'); 

    today = new Date();

    let m = today.getMonth() + 1;
    m = m < 10 ? '0'+ m : m + '';

    let d = today.getDate();
    d = d < 10 ? '0'+ d : d + '';

    inputYear.value = today.getFullYear();
    inputMonth.value = m;
    inputDay.value = d;

    inputWasteDate.value = `${today.getFullYear()}-${m}-${d}`;


    function uploadData(btn) {
        let weightInputModal = document.getElementById('weight'); 
        let weightInputForm = document.getElementById('input-weight');

        weightInputForm.value = weightInputModal.value;
        
        document.getElementById('form').submit();
    }


</script>
{% endblock %}