{% extends 'main/master.html' %}

  {% block content %}
  {% load static %}
  <div>
    <div class="mx-auto d-flex flex-lg-row flex-column hero-header-2-2">
      <!-- Left Column -->
      <div class="left-column-header-2-2 d-flex flex-lg-grow-1 flex-column align-items-lg-start text-lg-start align-items-center text-left" style="font-family: Poppins;">
        <p class="text-caption-header-2-2"></p>
        <h1 class="title-text-big-header-2-2 d-lg-inline d-none">The smart way<br> to monitor your wasted food</h1>
        <h1 class="title-text-small-header-2-2 d-lg-none d-inline">The smart way to monitor your wasted food</h1>
        <div class="div-button-header-2-2 d-inline d-lg-flex align-items-center mx-lg-0 mx-auto justify-content-center">
          <a href="/register" class="btn d-inline-flex mb-md-0 btn-try-header-2-2">Sign Up</a href="/register">
          <button class="btn btn-outline-header-2-2">                  
            <div class="d-flex align-items-center">
            <svg class="me-2" width="13" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.9293 7.99988L6.66668 5.15788V10.8419L10.9293 7.99988ZM12.9173 8.27722L5.85134 12.9879C5.80115 13.0213 5.74283 13.0404 5.6826 13.0433C5.62238 13.0462 5.5625 13.0327 5.50934 13.0042C5.45619 12.9758 5.41175 12.9334 5.38075 12.8817C5.34976 12.83 5.33337 12.7708 5.33334 12.7105V3.28922C5.33337 3.22892 5.34976 3.16976 5.38075 3.11804C5.41175 3.06633 5.45619 3.02398 5.50934 2.99552C5.5625 2.96706 5.62238 2.95355 5.6826 2.95644C5.74283 2.95932 5.80115 2.97848 5.85134 3.01188L12.9173 7.72255C12.963 7.75299 13.0004 7.79423 13.0263 7.84261C13.0522 7.89099 13.0658 7.94501 13.0658 7.99988C13.0658 8.05475 13.0522 8.10878 13.0263 8.15716C13.0004 8.20553 12.963 8.24678 12.9173 8.27722Z" fill="#555B61"/>
            </svg>                        
            Learn More
            </div>
          </button>
        </div>
      </div>
      <!-- Right Column -->
      <div class="right-column-header-2-2 text-center d-flex justify-content-center pe-0">
        <img id="img-fluid" style="display: block;max-width: 100%; height: 65vh;" src="{% static 'img/ilus1.jpg' %}" alt="">
      </div>

    </div>
  </div>

  {% endblock %}