@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.modal-header-2-2.modal {
  top: 2rem;
}
.header-2-2 .navbar,
.hero-header-2-2 {
  padding: 3rem 2rem;
}

.nav-section {
  height:100%; width: 100%; box-sizing: border-box; background-color: #FFFFFF;
}

.header-2-2 .navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  color: #1d1e3c;
  font-weight: 300;
  line-height: 1.5rem;}
  .header-2-2 .navbar-light .navbar-nav .nav-link:hover {
  font-size: 18px;
  color: #1d1e3c;
  font-weight: 600;
  line-height: 1.5rem;}
  .header-2-2 .navbar-light .navbar-nav .active > .nav-link,
  .header-2-2 .navbar-light .navbar-nav .nav-link.active,
  .header-2-2 .navbar-light .navbar-nav .nav-link.show,
  .header-2-2 .navbar-light .navbar-nav .show > .nav-link {
  font-weight: 600;
}
.header-2-2 .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header-2-2 .navbar-light .navbar-toggler {
  border: none;
}
.modal-content-header-2-2 .modal-header,
.modal-content-header-2-2 .modal-footer {
  border: none;
}
.btn:focus, .btn:active {
  outline: none !important;
}
.btn-fill-header-2-2 {
  background-color: #27C499;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 600;
  padding: 12px 32px 12px 32px;
  font-size: 18px;
}
.btn-fill-header-2-2:hover {
  color: #ffffff;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn-no-fill-header-2-2{
  color: #1D1E3C;
  font-weight: 300; 
  line-height: 1.75rem;
  padding: 12px 32px 12px 32px;
  font-size: 18px;
}
.modal-header-2-2 .modal-dialog .modal-content {
  border-radius: 8px;
  background-color: #FFFFFF;
  border: none;
}
.responsive-header-2-2 li a {
  padding: 1rem 1rem;
}
.text-caption-header-2-2 {
  margin-bottom: 2rem;
  line-height: 1.625;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #27C499;
}
.left-column-header-2-2{
  margin-bottom: 0.75rem;
  width: 100%;
}
.right-column-header-2-2{
  width: 100%;
}
.title-text-big-header-2-2{
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #272E35;
}
.title-text-small-header-2-2{
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #272E35;
  padding-left: 0;
  padding-right: 0;
}
.div-button-header-2-2{
    margin-left: 0;
    margin-right: 0;
}
.btn-try-header-2-2{
  font-weight: 600;
  color: #FFFFFF;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #27C499;
  margin-bottom: 1rem;
  margin-right: 0;
}
.btn-try-header-2-2:hover{
  color: #FFFFFF;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn-outline-header-2-2{
  font-weight: 400;
  border: 1px solid #555B61;
  color:#555B61;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.btn-outline-header-2-2:hover{
    border: 1px solid #27C499;
    color: #27C499;
}
.btn-outline-header-2-2:hover div path{
  fill: #27C499;
}
@media (min-width: 576px) {
  .modal-header-2-2 .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
  }
  .header-2-2 .navbar {
    padding: 3rem 2rem;
  }
  .hero-header-2-2 {
    padding: 3rem 2rem 5rem 2rem;
  }
  .title-text-big-header-2-2{
    font-size: 3rem;
    line-height: 1.2;
  }
  .title-text-small-header-2-2{
    font-size: 3rem;
    line-height: 1.2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .div-button-header-2-2{
    margin-left: 0;
    margin-right: 0.75rem;
  }
  .btn-try-header-2-2{
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
  .btn-outline-header-2-2{
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .header-2-2 .navbar {
    padding: 3rem 4rem;
  }
  .hero-header-2-2 {
    padding: 3rem 4rem 5rem 4rem;
  }
  .left-column-header-2-2{
    margin-bottom: 3rem;
  }
  .title-text-small-header-2-2{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .div-button-header-2-2{
    margin-left: 0;
    margin-right: 0.5rem;
  }
  .btn-try-header-2-2{
    margin-right: 0.5rem;
  }
}
@media (min-width: 992px) {
  .header-2-2 .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .header-2-2 .navbar {
    padding: 3rem 6rem;
  }
  .hero-header-2-2 {
    padding: 3rem 6rem 5rem 6rem;
  }
  .left-column-header-2-2{
    width: 50%;
    margin-bottom: 0;
  }
  .right-column-header-2-2{
    width: 50%;
  }
  .title-text-big-header-2-2{
    font-size: 3.75rem;
    line-height: 1.2;
  }
  .title-text-small-header-2-2{
    font-size: 3.75rem;
    line-height: 1.2;
  }
  .div-button-header-2-2{
    margin-left: 0;
    margin-right: 2rem;
  }
  .btn-try-header-2-2{
    margin-right: 2rem;
  }
}

.list-space-footer-2-2 {
    margin-bottom: 1.25rem;
  }
  .list-space-footer-2-2-title {
    margin-bottom: 1.5rem;
  }
  .footer-text-title-footer-2-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
  }
  .list-menu-footer-2-2 {
    color: #c7c7c7;
    text-decoration: none !important;
    cursor: pointer;
  }
  .list-menu-footer-2-2:hover {
    color: #555252;
  }
  hr.hr-footer-2-2 {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .border-color-footer-2-2 {
    color: #c7c7c7;
  }
  .footer-link-footer-2-2 {
    margin-right: 1.25rem;
    color: #c7c7c7;
  }
  .footer-link-footer-2-2:hover {
    color: #555252;
    cursor: pointer;
  }
  .social-media-c-footer-2-2:hover circle,
  .social-media-p-footer-2-2:hover path {
    fill: #555252;
    cursor: pointer;
  }
  .footer-info-space-footer-2-2 {
    padding-top: 3rem;
  }
  .social-media-left-footer-2-2 {
    margin-right: 1.25rem;
  }
  .social-media-center-1-footer-2-2 {
    margin-right: 1.25rem;
  }
  .social-media-center-2-footer-2-2 {
    margin-right: 1.25rem;
  }
  .list-footer-footer-2-2 {
    padding: 5rem 1rem 6rem 1rem;
  }
  .info-footer-footer-2-2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
  }
  @media (max-width: 980px) {
    .footer-responsive-space-footer-2-2 {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
    }
  }
  @media (min-width: 576px) {
    .list-footer-footer-2-2 {
      padding: 5rem 2rem 6rem 2rem;
    }
    .info-footer-footer-2-2 {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
    }
  }
  @media (min-width: 768px) {
    .list-footer-footer-2-2 {
      padding: 5rem 4rem 6rem 4rem;
    }
    .info-footer-footer-2-2 {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-bottom: 3rem;
    }
  }
  @media (min-width: 992px) {
    .list-footer-footer-2-2 {
      padding: 5rem 6rem 6rem 6rem;
    }
    .info-footer-footer-2-2 {
      padding-left: 6rem;
      padding-right: 6rem;
      padding-bottom: 3rem;
    }
  }

